# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

 __Objectives__

- Popular Languages for Data Science
- Common libraries used by Data Scientists
- Tools used in Data Science
- Examples of Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. NumPy
3. Scikit-learn 
4. TensorFlow

| Data Science Tools |
| -------------------|
| VS Code|
| Jupyterlab |
| RStudio  |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335

## Author
Sakshi Lalwani